[{:case/id :hara.tap.case/official-discovery
  :case/type :tap-discovery
  :case/input {:tap/id "hara"
               :tap/identity "https://id.hara-lang.org"
               :tap/registry "https://packages.hara-lang.org"
               :tap/assets "https://assets.hara-lang.org"}
  :case/expected :pass}]
