{:hara/type :project
 :hara/version "1.0.0"
 :project/id gw.showcase.supersonic.graph-contract
 :project/version "0.1.0"
 :project/source-paths ["src"]
 :project/test-paths []
 :project/extension-paths []
 :project/main gw.showcase.supersonic.graph-contract
 :project/capabilities #{:studio/eval}}
