[;; code.query.common
 {:id "common/any-nil"
  :ns code.query.common
  :expr "(any nil)"
  :expected true}
 {:id "common/any-underscore"
  :ns code.query.common
  :expr "(any '_)"
  :expected true}

 {:id "common/none-nil"
  :ns code.query.common
  :expr "(none nil)"
  :expected false}
 {:id "common/none-underscore"
  :ns code.query.common
  :expr "(none '_)"
  :expected false}

 {:id "common/expand-meta-question"
  :ns code.query.common
  :expr "(meta (expand-meta ^{:? true} ()))"
  :expected {:? true}}
 {:id "common/expand-meta-combined"
  :ns code.query.common
  :expr "(meta (expand-meta ^{:+%? true} ()))"
  :expected {:% true :+ true :? true}}

 {:id "common/cursor-pipe"
  :ns code.query.common
  :expr "(cursor? '|)"
  :expected true}
 {:id "common/cursor-underscore"
  :ns code.query.common
  :expr "(cursor? '_)"
  :expected false}

 {:id "common/insertion-true"
  :ns code.query.common
  :expr "(insertion? '^{:+ true} a)"
  :expected true}
 {:id "common/insertion-false"
  :ns code.query.common
  :expr "(insertion? 'a)"
  :expected false}

 {:id "common/deletion-true"
  :ns code.query.common
  :expr "(deletion? '^{:- true} a)"
  :expected true}
 {:id "common/deletion-false"
  :ns code.query.common
  :expr "(deletion? 'a)"
  :expected false}

 {:id "common/prewalk"
  :ns code.query.common
  :expr "(prewalk (fn [x] (if (number? x) (* x x) x)) '(1 (2 (3 4)) 5))"
  :expected (1 (4 (9 16)) 25)}

 {:id "common/remove-items-flat"
  :ns code.query.common
  :expr "(remove-items #{1} '(1 2 3 4))"
  :expected (2 3 4)}
 {:id "common/remove-items-nested"
  :ns code.query.common
  :expr "(remove-items #{1} '(1 (1 (1 (1)))))"
  :expected (((())))}

 {:id "common/prepare-deletion-identity"
  :ns code.query.common
  :expr "(prepare-deletion '(+ a 2))"
  :expected (+ a 2)}
 {:id "common/prepare-deletion-stripped"
  :ns code.query.common
  :expr "(prepare-deletion '(+ ^{:+ true} a | 2))"
  :expected (+ 2)}

 {:id "common/prepare-insertion-identity"
  :ns code.query.common
  :expr "(prepare-insertion '(+ a 2))"
  :expected (+ a 2)}
 {:id "common/prepare-insertion-stripped"
  :ns code.query.common
  :expr "(prepare-insertion '(+ ^{:+ true} a | ^{:- true} b 2))"
  :expected (+ a 2)}

 {:id "common/prepare-query"
  :ns code.query.common
  :expr "(prepare-query '(+ ^{:+ true} a | ^{:- true} b 2))"
  :expected (+ 2)}

 {:id "common/find-index"
  :ns code.query.common
  :expr "(find-index #{2} '(1 2 3 4))"
  :expected 1}

 {:id "common/finto"
  :ns code.query.common
  :expr "(finto () '(1 2 3))"
  :expected (1 2 3)}

 ;; code.query.compile
 {:id "compile/cursor-info-cursor"
  :ns code.query.compile
  :expr "(cursor-info '[(defn ^{:?& true} _ | & _)])"
  :expected [0 :form (defn _ | & _)]}
 {:id "compile/cursor-info-expanded"
  :ns code.query.compile
  :expr "(cursor-info (expand-all-metas '[(defn ^{:?& true} _ | & _)]))"
  :expected [0 :form (defn _ | & _)]}
 {:id "compile/cursor-info-no-cursor"
  :ns code.query.compile
  :expr "(cursor-info '[defn if])"
  :expected [nil :cursor]}
 {:id "compile/cursor-info-pipe"
  :ns code.query.compile
  :expr "(cursor-info '[defn | if])"
  :expected [1 :cursor]}

 {:id "compile/expand-all-metas-symbol"
  :ns code.query.compile
  :expr "(meta (expand-all-metas '^{:%? true} sym?))"
  :expected {:% true :? true}}
 {:id "compile/expand-all-metas-list"
  :ns code.query.compile
  :expr "(-> (expand-all-metas '(^{:%+ true} + 1 2)) first meta)"
  :expected {:% true :+ true}}

 {:id "compile/split-path-cursor"
  :ns code.query.compile
  :expr "(split-path '[defn | if try] [1 :cursor])"
  :expected {:up (defn) :down [if try]}}
 {:id "compile/split-path-no-cursor"
  :ns code.query.compile
  :expr "(split-path '[defn if try] [nil :cursor])"
  :expected {:up [] :down [defn if try]}}

 {:id "compile/process-special-multi"
  :ns code.query.compile
  :expr "(process-special :*)"
  :expected {:type :multi}}
 {:id "compile/process-special-nth-1"
  :ns code.query.compile
  :expr "(process-special :1)"
  :expected {:type :nth :step 1}}
 {:id "compile/process-special-nth-5"
  :ns code.query.compile
  :expr "(process-special :5)"
  :expected {:type :nth :step 5}}

 {:id "compile/process-path-simple"
  :ns code.query.compile
  :expr "(process-path '[defn if try])"
  :expected [{:type :step :element defn}
             {:type :step :element if}
             {:type :step :element try}]}
 {:id "compile/process-path-special"
  :ns code.query.compile
  :expr "(process-path '[defn :* try :3 if])"
  :expected [{:type :step :element defn}
             {:type :multi :element try}
             {:type :nth :element if :step 3}]}

 {:id "compile/compile-section-base-form"
  :ns code.query.compile
  :expr "(compile-section-base '{:element defn})"
  :expected {:form defn}}
 {:id "compile/compile-section-base-pattern"
  :ns code.query.compile
  :expr "(compile-section-base '{:element (if & _)})"
  :expected {:pattern (if & _)}}
 {:id "compile/compile-section-base-wildcard"
  :ns code.query.compile
  :expr "(compile-section-base '{:element _})"
  :expected {:is code.query.common/any}}

 {:id "compile/compile-section-up-nth"
  :ns code.query.compile
  :expr "(compile-section :up nil '{:element if :type :nth :step 3})"
  :expected {:nth-ancestor [3 {:form if}]}}
 {:id "compile/compile-section-down-multi"
  :ns code.query.compile
  :expr "(compile-section :down nil '{:element if :type :multi})"
  :expected {:contains {:form if}}}

 {:id "compile/compile-submap-down"
  :ns code.query.compile
  :expr "(compile-submap :down (process-path '[if try]))"
  :expected {:child {:child {:form if} :form try}}}
 {:id "compile/compile-submap-up"
  :ns code.query.compile
  :expr "(compile-submap :up (process-path '[defn if]))"
  :expected {:parent {:parent {:form defn} :form if}}}

 {:id "compile/prepare-no-cursor"
  :ns code.query.compile
  :expr "(prepare '[defn if])"
  :expected [{:child {:form if} :form defn} [nil :cursor]]}
 {:id "compile/prepare-cursor"
  :ns code.query.compile
  :expr "(prepare '[defn | if])"
  :expected [{:parent {:form defn} :form if} [1 :cursor]]}

 ;; code.query.match.impl
 {:id "match.impl/actual-pattern"
  :ns code.query.match.impl
  :expr "(actual-pattern? (actual-pattern '_))"
  :expected true}
 {:id "match.impl/eval-pattern"
  :ns code.query.match.impl
  :expr "(eval-pattern? (eval-pattern 'symbol?))"
  :expected true}

 ;; code.query.match.optional
 {:id "match.optional/pattern-seq"
  :ns code.query.match.optional
  :expr "(pattern-seq '(+ ^:? (1) ^:? (^:? + 2)))"
  :expected ((+) (+ (1)) (+ (2)) (+ (1) (2)) (+ (+ 2)) (+ (1) (+ 2)))}

 ;; code.query.match.pattern
 {:id "match.pattern/pattern-fn-vector"
  :ns code.query.match.pattern
  :expr "((pattern-fn vector?) [])"
  :expected true}
 {:id "match.pattern/pattern-fn-list"
  :ns code.query.match.pattern
  :expr "((pattern-fn '(a)) '(a))"
  :expected true}
 {:id "match.pattern/pattern-fn-eval"
  :ns code.query.match.pattern
  :expr "((pattern-fn '[^:% vector?]) [[]])"
  :expected true}]