[{:case/id :hara.publishing.case/git-merged
  :case/type :publication-finalization
  :case/input {:object/uploaded true
               :record/merged true}
  :case/expected :accepted}
 {:case/id :hara.publishing.case/orphan-object
  :case/type :publication-finalization
  :case/input {:object/uploaded true
               :record/merged false}
  :case/expected :not-published}]
