[{:case/id :hara.tap.protocol.case/minimal-document
  :case/type :document
  :case/input
  {:document/id :example/protocol
   :document/type :hara/tap-protocol
   :document/version "0.1.0"
   :document/status :draft
   :document/title "Example"
   :document/summary "Example protocol."
   :spec/conforms-to {:spec/id :hara/tap-protocol-metaspec
                      :spec/version "0.1.0"}
   :platform/roles []
   :platform/entities []
   :platform/operations []
   :platform/invariants []
   :platform/conformance []}
  :case/expected :pass}]
