{:document/id :xt.substrate.conformance/service
 :document/type :xt-substrate-conformance
 :document/version "0.2.0"
 :document/status :draft
 :conformance/spec :xt/substrate-service
 :conformance/source-tests
 ["../../../../../../foundation-base/test-lang/xt/substrate_test.clj"
  "../../../../../../foundation-base/test-lang/xt/substrate/base_util_handlers_test.clj"]
 :conformance/cases
 [{:case/id :xt.substrate.service/initial-values
   :case/source-symbol "xt.substrate/get-services"
   :case/expect :configured-arbitrary-values-preserved}
  {:case/id :xt.substrate.service/set-get
   :case/source-symbol "xt.substrate/set-service"
   :case/expect :same-value}
  {:case/id :xt.substrate.service/remove
   :case/source-symbol "xt.substrate/remove-service"
   :case/expect [:previous-value-returned :key-deleted]}
  {:case/id :xt.substrate.service/utility-install
   :case/source-symbol "xt.substrate.base-util-handlers/install-util-handlers"
   :case/expect
   ["@/ping" "@/echo" "@/list-handlers" "@/list-triggers"
    "@/list-spaces" "@/list-transports" "@/get-service" "@/node-info"]}]}
