{:document/id :foundation.metadata/std_lib_project
 :document/type :foundation-library-conformance-metadata
 :document/version "alpha"
 :document/status :draft
 :family/id :std_lib_project
 :family/path "std_lib_project"
 :target/project-root "core"
 :target/test-paths ["lib/test/std/lib/project_test.hal"
                     "lib/test/std/lib/project_namespace_test.hal"
                     "lib/test/std/lib/project/production_test.hal"]}
