{:document/id :foundation.origin/std_lib_project
 :document/type :foundation-library-origin
 :document/version "alpha"
 :document/status :draft
 :origin/family :std_lib_project
 :origin/source {:repository "zcaudate-xyz/foundation-base"
                 :revision "baa75aabd6a879753d7d5cb07271b1448271e7cb"
                 :tree "26d494f60c4970df56eba8ac40f92affeee4e159"}
 :origin/namespaces [{:origin/namespace "std.lib.project"
                      :origin/test-paths ["test/std/lib/project_test.clj"
                                          "test/std/lib/project/production_test.clj"]}]}
