{:hara/type :project
 :hara/version "1.0.0"
 :project/id greenways/supersonic
 :project/version "0.1.0"
 :project/source-paths ["src/hal"]
 :project/test-paths []
 :project/extension-paths []
 :project/capabilities #{}
 :greenways.contribution/id :greenways/supersonic}
