[{:case/id :hara.identity.case/github-owner
  :case/type :identity-enrollment
  :case/input {:github/id 1342004
               :github/login "hara-lang"
               :github/type :organization
               :github/role :owner
               :grant/namespace "hara"}
  :case/expected :pass}
 {:case/id :hara.identity.case/repository-admin-not-org-owner
  :case/type :identity-enrollment
  :case/input {:github/id 1342004
               :github/type :organization
               :github/role :repository-admin
               :grant/namespace "hara"}
  :case/expected :reject}]
