[{:case/id :hara.extension.case/wasm-provider
  :case/type :extension-descriptor
  :case/input {:extension/namespace "demo.answer"
               :provider/type :wasm
               :provider/artifact "answer.wasm"
               :provider/abi "hara.wasm/0-alpha"}
  :case/expected :pass}
 {:case/id :hara.extension.case/missing-artifact
  :case/type :extension-descriptor
  :case/input {:extension/namespace "demo.answer"
               :provider/type :wasm
               :provider/artifact "missing.wasm"
               :package/files #{}}
  :case/expected :reject}]
