[{:case/id :hara.asset.case/digest-cache
  :case/type :asset-delivery
  :case/input {:url/type :digest
               :response/cache :immutable
               :response/nosniff true
               :response/identity-cookie false}
  :case/expected :pass}
 {:case/id :hara.asset.case/credentialed-origin
  :case/type :asset-delivery
  :case/input {:response/identity-cookie true}
  :case/expected :reject}]
